name: conda-recipe-manager
channels:
  - defaults

dependencies:
  - black
  - isort
  - make
  - mypy
  - python >=3.11
  - pytest
  - pytest-cov
  - pytest-xdist
  - conda-forge::pylint ==3.1.0  # Match version with .pre-commit-config.yaml
  - pip
  - click >=8.1.7
  - conda
  - jinja2
  - pygit2
  - PyGithub
  - pyyaml
  - types-pyyaml
  - conda-build
  - jsonschema
  - types-jsonschema
  - requests
  - types-requests
  - pre-commit
